<%= stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true %>

<div id="header">
		<div id="header_image">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to (image_tag("header_logo_w.png")), recommended_url %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to (image_tag("header_logo_w.png")), home_url %>
			<% end %>
		</div>

		<div id="header_links">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Me", user_path(session[:user_id]) %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Join", new_user_path, :class => 'fancybox' %>
			<% end %>
			|
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Logout", logout_path %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Login", login_path, :class => 'fancybox'  %>
			<% end %>
			
		</div>
	</div>

<div id="content">
<h1>About</h1>
<p> This service has been created as a school project at Aalto University. The main idea behind the
	service is to connect people to cook or just share a meal together. After all everybody eats each day,
	or at least they should, and eating in a company is much more fun than alone. </p>

<h2>Sharing an experience</h2>
<p> Our goal is to connect people who are already close by, either socially or geographically. We use our
	users' location data and their friend information from Facebook to suggest most suitable events. We believe
	that bringing together people who could naturally have bumped into each other, lays a great foundation
	to connect on a more personal level. No matter if it's the mutual friend you have or the same bus lines
	you use, the weak link you share, can be grown into a new strong one. </p>

<h2>Sharing a meal</h2>
<p> We start from the basic hypothesis that everybody eats and should rather eat in a company than alone. The
	great perk in sharing a meal is that cooking is divided among the participants and you might even end up
	trying something new. Trying something new doesn't need to be difficult and don't need to leave you with
	great amount of ingredients unused in the future. We hope that positive cooking and eating experiences are
	something that our users would want to pay forward by hosting their own events.</p>

<h2>Becoming community</h2>
<p> We encourage all our users to share their experience and tell the story of finding something meaningful
	through the simplest act of sharing a meal.</p>

</div>
