<%= stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true %>

<div id="header">
		<div id="header_image">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to (image_tag("header_logo_w.png")), recommended_url %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to (image_tag("header_logo_w.png")), home_url %>
			<% end %>
		</div>

		<div id="header_links">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Me", user_path(session[:user_id]) %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Join", new_user_path, :class => 'fancybox' %>
			<% end %>
			|
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Logout", logout_path %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Login", login_path, :class => 'fancybox'  %>
			<% end %>
			
		</div>
	</div>

<div id="content">
	<h1>FAQ</h1>
	<br />
	<h3>How can I Question 1?</h3>
	<p>The answer to this question is short. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vehicula massa. Proin dignissim massa eu tortor egestas lobortis. Aenean venenatis, metus et volutpat vehicula, turpis justo dignissim dolor, eu mattis quam libero ut velit. Duis in interdum nunc.</p>

	<h3>Why am I keep seeing Question 2 and not really anything else?</h3>
	<p>A bit longer reply here, more complex answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vehicula massa. Proin dignissim massa eu tortor egestas lobortis. Aenean venenatis, metus et volutpat vehicula, turpis justo dignissim dolor, eu mattis quam libero ut velit. Duis in interdum nunc. Vivamus et nulla quis risus tempor cursus. Vestibulum et congue odio. Nullam blandit nisl non felis semper consequat. Mauris nec tortor eget lacus hendrerit sollicitudin vel id justo. Duis eget justo sed mauris pharetra sodales. Donec posuere placerat erat, quis blandit nisi aliquet at. Integer vitae purus molestie velit consectetur hendrerit. Nunc ut ornare massa, et vehicula turpis. In et lorem sit amet massa commodo convallis.</p>

	<h3>Should I Question 3 or mysteries?</h3>
	<p>The answer to this question is short. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vehicula massa. Proin dignissim massa eu tortor egestas lobortis. Aenean venenatis, metus et volutpat vehicula, turpis justo dignissim dolor, eu mattis quam libero ut velit. Duis in interdum nunc.</p>

	<h3>Question 4, or is it?</h3>
	<p>The answer to this question is really short. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vehicula massa. Proin dignissim massa eu tortor egestas lobortis.</p>

	<h3>Is it just me or does Question 5?</h3>
	<p>And this one is even shorter.</p>
</div>
