<p>Not yet a member? <%= link_to "Join", new_user_path %> now!</p>
<div class="depot_form">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag(login_path, :target => "_top") do %>
		<fieldset>
			<legend>Please Log In</legend>
			<table>
				<tr>
					<td><%= label_tag :name, 'Name:' %></td>
					<td><%= text_field_tag :name, params[:name] %></td>
				</tr>
				<tr>
					<td><%= label_tag :password, 'Password:' %></td>
					<td><%= password_field_tag :password, params[:password] %></td>
				</tr>
				<tr>
					<td></td>
					<td id="submit"><%= submit_tag "Login" %></td>
				</tr>
			</table>
		</fieldset>
	<% end %>



</div>
