
<%= stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true %>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="header">
		<div id="header_image">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to (image_tag("header_logo_w.png")), recommended_url %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to (image_tag("header_logo_w.png")), home_url %>
			<% end %>
		</div>

		<div id="header_links">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Me", user_path(session[:user_id]) %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Join", new_user_path, :class => 'fancybox' %>
			<% end %>
			|
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Logout", logout_path %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Login", login_path, :class => 'fancybox'  %>
			<% end %>
			
		</div>
	</div>

<div id="top">
	<!-- big image -->
</div>

<div id="content">

	<div id="on_image">
		<h1>KÖÖK &mdash; a dine-a-mate service.</h1>
		<div id="intro">An easy way to meet new people near you and share a meal together. <br/>
			KÖÖK helps you do just that.</div>
	</div>


	<div id="how_to">
		<div id="left">
		<%= image_tag("sign_up.png", height: "100px") %>
		<h2>Sign up</h2>
		<p>Sign up with your Facebook account and set your preferences.</p>
		</div>

		<div id="center">
		<%= image_tag("find.png", height: "100px") %>
		<h2>Find events</h2>
		<p>See what's happening near you or organise an event yourself.</p>
		</div>

		<div id="right">
		<%= image_tag("attend.png", height: "100px") %>
		<h2>Attend</h2>
		<p>Meet with new people by cooking with them and share your experience.</p>
		</div>
	</div>

	<h2>Happening soon</h2>
	<p>Check out some our upcoming events.</p>

	<div id="events">
		<% @events.each do |event| %>
			<div id="list-event">
				<%= link_to(event, :id => 'event-link', :class => 'fancybox') do %>
					<div id="link-content">
					<%= image_tag(event.logo_id.to_s + ".png", size: "90") %>
					<h3><%= event.title %></h3>
					<%=sanitize event.short_description %>
					<br />
					<%= event.location_city %>
					<br />
					<%= event.date.to_s(:short) %>
					<%= event.starttime %>
					<br />
					<%= event.participants %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

</div>
