<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td id="label" class="required">
        <%= f.label :title %>
      </td>
      <td id="fields">
        <%= f.text_field :title, :required => true, :value => "Give a title to your event",
            :onblur => 'if (this.value=="") { this.value="Give a title to your event";}',
            :onclick => 'if (this.value =="Give a title to your event") {this.value = "";}',
            :size => "74" %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :logo_id, "Event Logo" %>
      </td>
      <td id="fields">
        <table>
          <tr>
            <td id="food">
              <%= f.radio_button :logo_id, '0' %>
              <%= f.label :logo_id, image_tag("0.png", size: "80", id: "food") %>
            </td>
            <td id="food">
              <%= f.radio_button :logo_id, '1' %>
              <%= f.label :logo_id, image_tag("1.png", size: "80", id: "food") %>
            </td>
          </tr>
          <tr>
            <td id="food">
              <%= f.radio_button :logo_id, '2' %>
              <%= f.label :logo_id, image_tag("2.png", size: "80", id: "food") %>
            </td>
            <td id="food">
              <%= f.radio_button :logo_id, '3' %>
              <%= f.label :logo_id, image_tag("3.png", size: "80", id: "food") %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :short_description %>
      </td>
      <td id="fields">
        <%= f.text_area :short_description, :value => "Write a short description for your event", :onblur => 'if (this.value=="") { this.value="Write a short description for your event";}', :onclick => 'if (this.value =="Write a short description for your event") {this.value = "";}',
            :rows => "3", :cols => "53" %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :time %>
      </td>
      <td id="fields">
        <table>
          <tr>
            <td>
              <%= f.label :date, "Date" %><br/>
              <%= f.date_select :date %>
            </td>
            <td>
              <%= f.label :starttime, "Start time" %><br/>
              <%= f.time_select :starttime %><br/>
              
              <%= f.label :endtime, "End time" %><br/>
              <%= f.time_select :endtime %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :location %>
      </td>
      <td id="fields">
        <%= f.text_field :location_city, :value => "City",
            :onblur => 'if (this.value=="") { this.value="City";}',
            :onclick => 'if (this.value =="City") {this.value = "";}' %>
        <%= f.text_field :location_zip, :value => "Zip Code",
            :onblur => 'if (this.value=="") { this.value="Zip Code";}',
            :onclick => 'if (this.value =="Zip Code") {this.value = "";}' %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :restrictions_id, "Dietary Restrictions" %>
      </td>
      <td id="fields">
        <%= f.number_field :restrictions_id %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :participants, "Amount of participants" %>
      </td>
      <td id="fields">
        <%= f.text_area :participants, :value => "How many seats do you have around your table?",
            :onblur => 'if (this.value=="") { this.value="How many seats do you have around your table?";}',
            :onclick => 'if (this.value =="How many seats do you have around your table?") {this.value = "";}',
            :cols => "53" %>
      </td>
    </tr>
    <tr>
      <td id="label">
        <%= f.label :price, "Price / Contribution" %>
      </td>
      <td id="fields">
        <%= f.text_area :price, :value => "Describe how the guests can participate in the costs", 
            :onblur => 'if (this.value=="") { this.value="Describe how the guests can participate in the costs";}',
            :onclick => 'if (this.value =="Describe how the guests can participate in the costs") {this.value = "";}',
             :cols => "53" %>
      </td>
    </tr>
    <tr>
      <td id="label">
        <%= f.label :full_description %>
      </td>
      <td id="fields">
        <%= f.text_area :full_description, :value => "Write a longer description for your event",
            :onblur => 'if (this.value=="") { this.value="Write a longer description for your event";}',
            :onclick => 'if (this.value =="Write a longer description for your event") {this.value = "";}', 
            :rows => "8", :cols => "53" %>
      </td>
  </div>
    </tr>
    <tr>
      <td></td>
      <td id="submit"><%= f.submit %></td>
    </tr>
  </table>
  
<% end %>
