<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td id="label" class="required">
        <%= f.label :title %>
      </td>
      <td id="fields">
        <%= f.text_field :title, :required => true, placeholder: "Give a title to your event", :size => "74" %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :logo_id, "Event Logo" %>
      </td>
      <td id="fields">
        <table>
          <tr>
            <td id="food">
              <%= f.radio_button :logo_id, '0' %>
              <%= f.label :logo_id, image_tag("0.png", size: "80", id: "food") %>
            </td>
            <td id="food">
              <%= f.radio_button :logo_id, '1' %>
              <%= f.label :logo_id, image_tag("1.png", size: "80", id: "food") %>
            </td>
          </tr>
          <tr>
            <td id="food">
              <%= f.radio_button :logo_id, '2' %>
              <%= f.label :logo_id, image_tag("2.png", size: "80", id: "food") %>
            </td>
            <td id="food">
              <%= f.radio_button :logo_id, '3' %>
              <%= f.label :logo_id, image_tag("3.png", size: "80", id: "food") %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :short_description %>
      </td>
      <td id="fields">
        <%= f.text_area :short_description, placeholder: "Write a short description for your event", :rows => "3", :cols => "53" %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :time %>
      </td>
      <td id="fields">
        <table>
          <tr>
            <td>
              <%= f.label :date, "Date" %><br/>
              <%= f.date_select :date %>
            </td>
            <td>
              <%= f.label :starttime, "Start time" %><br/>
              <%= f.time_select :starttime %><br/>
              
              <%= f.label :endtime, "End time" %><br/>
              <%= f.time_select :endtime %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        Location
      </td>
      <td id="fields">
        <%= f.text_field :location_city, placeholder: "City" %>
        <%= f.text_field :location_zip, placeholder: "Zip Code" %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :restrictions_id, "Dietary Restrictions" %>
      </td>
      <td id="fields">
        This event is suitable for the following diets:
        <br/>
        <%= check_box_tag(:no_red_meat) %>
        <%= label_tag(:no_red_meat, "No red meat") %>
        <br/>
        <%= check_box_tag(:ovo_lacto_vegetarian) %>
        <%= label_tag(:ovo_lacto_vegetarian, "Ovo-lacto vegetarian") %>
        <br/>
        <%= check_box_tag(:vegetarian) %>
        <%= label_tag(:vegetarian, "Vegetarian") %>
        <br/>
        <%= check_box_tag(:vegan) %>
        <%= label_tag(:vegan, "Vegan") %>
        <br/>
        <%= check_box_tag(:glutein_free) %>
        <%= label_tag(:glutein_free, "Glutein free") %>
        <br/>
        <%= check_box_tag(:lactose_free) %>
        <%= label_tag(:lactose_free, "Lactose free") %>
      </td>
    </tr>
    <tr>
      <td id="label" class="required">
        <%= f.label :participants, "Amount of participants" %>
      </td>
      <td id="fields">
        <%= f.text_area :participants, placeholder: "How many seats do you have around your table?", :cols => "53" %>
      </td>
    </tr>
    <tr>
      <td id="label">
        <%= f.label :price, "Price / Contribution" %>
      </td>
      <td id="fields">
        <%= f.text_area :price, placeholder: "Describe how the guests can participate in the costs", :cols => "53" %>
      </td>
    </tr>
    <tr>
      <td id="label">
        <%= f.label :full_description %>
      </td>
      <td id="fields">
        <%= f.text_area :full_description, placeholder: "Write a longer description for your event", :rows => "8", :cols => "53" %>
      </td>
  </div>
    </tr>
    <tr>
      <td></td>
      <td id="submit"><%= f.submit %></td>
    </tr>
  </table>
  
<% end %>
