<div id="header">
	<div id="header_image">
		<% if session[:user_id] %>
  			<!-- user is logged in -->
  			<%= link_to (image_tag("header_logo_w.png")), recommended_url %>
		<% else %>
 			<!-- user is not logged in -->
  			<%= link_to (image_tag("header_logo_w.png")), home_url %>
		<% end %>
	</div>

	<div id="header_links">
		<% if session[:user_id] %>
  			<!-- user is logged in -->
  			<%= link_to "Me", user_path(session[:user_id]) %>
		<% else %>
  			<!-- user is not logged in -->
  			<%= link_to "Join", new_user_path, :class => 'fancybox' %>
		<% end %>
		|
		<% if session[:user_id] %>
  			<!-- user is logged in -->
  			<%= link_to "Logout", logout_path %>
		<% else %>
  			<!-- user is not logged in -->
  			<%= link_to "Login", login_path, :class => 'fancybox'  %>
		<% end %>	
	</div>
</div>

<div id="nav">
	<div id="nav_links">
		<a href="recommended">RECOMMENDED</a>
		<a href="browse">BROWSE</a>
		<a href="my_events">MY EVENTS</a>
		<a href="create">CREATE</a>
	</div>
	<hr>
</div>

<div id="content">
	<table style="width:900px;text-align:center;">
		<tr><td><h3>Attending</h3></td><td><h3>Hosting</h3></td></tr>
	</table>

	<div id="two-columns">

		<div id="first">
			<p>You are not currently attending any events.</p>

			<p>Search for some events or see your recommendations to attend!</p>
		</div>

		<div id="second">
			<% @events.each do |event| %>
				<% if session[:user_id] == event.user %>
  					<div id="list-event">
				  		<div class="events">
				    		<%= link_to(event, :id => 'event-link', :class => 'fancybox') do %>
								<div id="link-content">
								<%= image_tag(event.logo_id.to_s + ".png", size: "90") %>
								<h3><%= event.title %></h3>
								<%=sanitize event.short_description %>
								<br />
								<%= event.location_city %>
								<br />
								<%= event.date %>
								<%= event.starttime %>
								<br />
								<%= event.participants %>
								</div>
							<% end %>
				  		</div>
		  			</div>
				<% end %>
			<% end %>
		</div>
	</div>

</div>
