<div id="header">
	<div id="header_image">
		<% if session[:user_id] %>
  			<!-- user is logged in -->
  			<%= link_to (image_tag("header_logo_w.png")), recommended_url %>
		<% else %>
 			<!-- user is not logged in -->
  			<%= link_to (image_tag("header_logo_w.png")), home_url %>
		<% end %>
	</div>

	<div id="header_links">
		<% if session[:user_id] %>
  			<!-- user is logged in -->
  			<%= link_to "Me", user_path(session[:user_id]) %>
		<% else %>
  			<!-- user is not logged in -->
  			<%= link_to "Join", new_user_path, :class => 'fancybox' %>
		<% end %>
		|
		<% if session[:user_id] %>
  			<!-- user is logged in -->
  			<%= link_to "Logout", logout_path %>
		<% else %>
  			<!-- user is not logged in -->
  			<%= link_to "Login", login_path, :class => 'fancybox'  %>
		<% end %>	
	</div>
</div>

<div id="nav">
	<div id="nav_links">
		<a href="recommended">RECOMMENDED</a>
		<a href="browse">BROWSE</a>
		<a href="my_events">MY EVENTS</a>
		<a href="create">CREATE</a>
	</div>
	<hr>
</div>

<div id="content">
	<p>Here are some interesting events near you. Take a look and attend!</p>
	<p style="text-align: center; color: blue;">
		Note! Currently the recomendations page shows all events, the smart stuff isn't implemented in this prototype.</p>
	<div id="events">
		<% @events.each do |event| %>
			<div id="list-event">
				<%= link_to(event, :id => 'event-link', :class => 'fancybox') do %>
					<div id="link-content">
						<div class="event-content">
							<%= image_tag(event.logo_id.to_s + ".png", size: "90") %>
						</div>

						<div class="event-content">
							<h3 style="margin-top:0px;margin-bottom:4px;"><%= event.title %></h3>
							<%=sanitize event.short_description %>
						</div>

						<div class="event-content">
							<%= event.location_city %>
						</div>

						<div class="event-content">
							<%= event.date.to_s(:long) %><br/>
							<%= image_tag("time.png") %> <%= event.starttime.to_s(:time) %>
						</div>
						
						<div class="event-content">
							<%= event.participants %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
