<!DOCTYPE html>
<html>
	<head>
	  <title>KÖÖK</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag "favicon.ico" %>
	</head>

	<div id="header">
		<div id="header_image">
			<a href="/"><%= image_tag "header_logo_w.png" %></a>		
		</div>

		<div id="header_links">
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Me", user_path(session[:user_id]) %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Join", new_user_path, :class => 'fancybox' %>
			<% end %>
			|
			<% if session[:user_id] %>
  				<!-- user is logged in -->
  				<%= link_to "Logout", logout_path %>
			<% else %>
  				<!-- user is not logged in -->
  				<%= link_to "Login", login_path, :class => 'fancybox'  %>
			<% end %>
			
		</div>
	</div>

	<body>
		<%= yield %>

		<footer class="controller-<%= params[:controller] %>">
			<div id ="footer_links" class="controller-<%= params[:controller] %>">
				<hr>
				<a href="faq">FAQ</a> <a href="about">ABOUT</a> <a href="contact">CONTACT</a>
			</div>
		</footer>

	</body>

</html>
