<!DOCTYPE html>
<html>
	<head>
	  <title>KÖÖK</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<div id="header">
		<div id="header_image">
			<a href="."><%= image_tag "header_logo_w.png" %></a>
		</div>
	</div>

	<body>
		<%= yield %>
	</body>

	<footer class="controller-<%= params[:controller] %>">
		<div id ="footer_links" class="controller-<%= params[:controller] %>">
			<hr>
			<a href="faq">FAQ</a> <a href="about">ABOUT</a> <a href="contact">CONTACT</a>
		</div>
	</footer>

</html>
